@import '/src/main.scss';

        // ------------------HOME------------------

.home{
    &__container{
        row-gap: .5rem;
    }
    &__image{
        width: 280px;
        justify-self: center;
        margin-top: var(--mb-6);
    }
    &__title{
        font-size: var(--biggest-font-size);
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-2);
    }
    &__description{
        margin-bottom: var(--mb-3);
    }

    &__button{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: var(--font-semi-bold);

        padding: 1rem 1.5rem;
        border-radius: .7rem;
        transition: .4s;

        &:hover{
            background-color: var(--first-color-alt)
        }
    }
}


        // ------------------SHARE------------------------

.share{

    &__button{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: var(--font-semi-bold);

        padding: 1rem 1.5rem;
        border-radius: .7rem;
        transition: .4s;

        &:hover{
            background-color: var(--first-color-alt)
        }
    }

    &__data{
        text-align: center;
    }

    &__description{
        margin-bottom: var(--mb-2);
    }

    &__image{
        width: 280px;
        justify-self: center;
    }
}


        // ------------------DECORATION------------------------


.decoration{

    &__container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    &__data{
        padding: 1rem 1rem 2rem;
        text-align: center;
        background-color: var(--container-color);
        box-shadow: 0 2px 6px rgba(65,11,16,.15);
        border-radius: 1rem;

        &:hover{
            box-shadow: 0 4px 16px rgba(65,11,16,.15);
        }
    }

    &__image{
        width: 180px;
    }

    &__title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-1)
    }

    &__button{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: var(--font-semi-bold);

        padding: 1rem 1.5rem;
        border-radius: .7rem;
        transition: .4s;

        &:hover{
            background-color: var(--first-color-alt)
        }
    }

    &__link{
        background: none;
        padding: 0;
        color: var(--first-color);

        &:hover{
            background-color: transparent;
            color: var(--first-color-alt)
        }
    }
}

        // ------------------------ACCESSORY------------------------

.accessory{

    &__container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 2rem;
    }

    &__content{
        display: grid;
        position: relative;
        padding: .25rem .75rem .75rem;
        background-color: var(--container-color);
        box-shadow: 0 2px 6px rgba(65,11,16,.15);
        border-radius: 1rem;

        &:hover{
            box-shadow: 0 3px 14px rgba(65,11,16,.15);
        }
    }

    &__image{
        width: 110px;
        justify-self: center;
        margin-bottom: var(--mb-1)
    }

    &__title, &__category{
        text-align: center;
    }

    &__title{
        font-size: var(--normal-font-size);
    }

    &__category{
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
        color: var(--text-color-light);
    }

    &__price{
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }

    &__button{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: var(--font-semi-bold);

        padding: .5rem .625rem;
        border-radius: 1rem 0 1rem 0;
        transition: .4s;

        position: absolute;
        bottom:0;
        right: 0;
        display: flex;
        font-size: 1.25rem;

        &:hover{
            background-color: var(--first-color-alt)
        }
    }
}


        // ------------------------SEND SECTION--------------------------------

   
.send{
    background-color: var(--first-color);   
    
    &__title, &__description{
        color: #FFF;
    }

    &__title{
            font-size: var(--h2-font-size);
            text-align: center;
            margin-bottom: var(--mb-3);
    }

    &__description{
        text-align: center;
        margin-bottom: var(--mb-4) ;
    }

    &__direction{
        display: flex;
        background-color: #fff;
        padding: .5rem;
        border-radius: .5rem;
    }

    &__input{
        outline: none;
        border: none;
        width: 90%;

        font-size: var(--normal-font-size);
        font-family: var(--body-font)


    }

    &__input::placeholder{
        font-family: var(--body-font);
    }

    &__image{
        width: 280px;
        justify-self: center;
    }

    &__button{
        display: inline-block;
        background-color: var(--first-color);
        color: var(--container-color);
        font-weight: var(--font-semi-bold);

        padding: 1rem 1.5rem;
        border-radius: .7rem;
        transition: .4s;

        &:hover{
            background-color: var(--first-color-alt)
        }
    }    
}